img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

ul.list-style,
ol.list-style {
    padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
    color: $accent;
}

.unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.col-sec {
    .row {
        @media (max-width: 575px) {
            margin-right: calc(-0.25 * var(--bs-gutter-x));
            margin-left: calc(-0.25 * var(--bs-gutter-x));
        }
    }
    .row > * {
        @media (max-width: 575px) {
            padding-right: calc(var(--bs-gutter-x) * 0.25);
            padding-left: calc(var(--bs-gutter-x) * 0.25);
        }
    }
}

.container-fluid {
    @media (min-width: 1200px) {
        padding: 0 12.7vw;
        width: 100%;
    }
    @media (max-width: 575px) {
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 0;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
    }
}
.page-content {
    margin-left: clamp(254px, 16.719vw, 548px);
    margin-bottom: 50px;
    padding: 0 clamp(12px, 1.25vw, 90px) 0 0;
    @media (max-width: 1199px) {
        margin-left: 0;
        padding: 0 16px;
    }
    @media (max-width: 492px) {
        padding: 0 12px;
    }
}
.audio-bar{
    position: relative;
    margin-left: clamp(218px, 13.438vw, 500px);
    @media (max-width: 1199px) {
        margin-left: 0;
    }
}
.x-hidden {
    overflow-x: hidden !important;
}

.locked {
    overflow-y: hidden;
}

.slick-track > [class*="col"] {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    @media (max-width: 575px) {
        padding-right: calc(var(--bs-gutter-x) * 0.25);
        padding-left: calc(var(--bs-gutter-x) * 0.25);
    }
}

/*-------------------------
    Typography
-------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    color: $light-gray;
    background-color: $accent-3;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: clamp(13px, 0.833vw, 22px);
    font-weight: 400;
    line-height: 150%;
    height: 100%;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: $accent-2;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: $accent;
        box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    }
    @include media-query(991px) {
        font-size: clamp(13.5px, 1.778vw, 16px);
    }
    @include media-query(767px) {
        font-size: clamp(13px, 2.286vw, 14px);
    }
    @include media-query(575px) {
        font-size: clamp(11.5px, 3.59vw, 14px);
    }
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    transition: $transition;
    &:hover {
        color: $accent;
        transition: $transition;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
a,
pre,
blockquote,
table,
hr {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: inherit;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: 120%;
    font-weight: 400;
    margin: 0;
    font-family: $font-sec;
    color: $white;
}

h1,
.h1 {
    font-size: clamp(50px, 4.167vw, 160px); /* 80px */
    line-height: 120%;
    letter-spacing: -0.125vw;
    @include media-query(991px) {
        font-size: clamp(36px, 6.119vw, 56px);
    }
    @include media-query(767px) {
        font-size: clamp(42px, 7.094vw, 50px);
    }
    @include media-query(575px) {
        font-size: clamp(38px, 9.78vw, 45px);
    }
}

h2,
.h2 {
    font-size: clamp(38px, 3.177vw, 122px); /* 61px */
    @include media-query(991px) {
        font-size: clamp(38px, 5.119vw, 48px);
    }
    @include media-query(767px) {
        font-size: clamp(35px, 6.094vw, 45px);
    }
    @include media-query(575px) {
        font-size: clamp(32px, 8.78vw, 40px);
    }
}

h3,
.h3 {
    font-size: clamp(30px, 2.448vw, 98px); /* 49px */
    @include media-query(991px) {
        font-size: clamp(30px, 4.048vw, 40px);
    }
    @include media-query(767px) {
        font-size: clamp(28px, 4.844vw, 36px);
    }
    @include media-query(575px) {
        font-size: clamp(24px, 6.829vw, 32px);
    }
}

h4,
.h4 {
    font-size: clamp(24px, 1.875vw, 72px); /* 36px */
    @media (max-width: 991px) {
        font-size: clamp(24px, 3.493vw, 28px);
    }
    @media (max-width: 767px) {
        font-size: clamp(22px, 4.23vw, 24px);
    }
    @media (max-width: 575px) {
        font-size: clamp(20px, 6.575vw, 22px);
    }
}

h5,
.h5 {
    font-size: clamp(20px, 1.406vw, 54px); /* 27px */
    @media (max-width: 991px) {
        font-size: clamp(20px, 2.738vw, 22px);
    }
    @media (max-width: 767px) {
        font-size: clamp(19px, 3.438vw, 23px);
    }
    @media (max-width: 575px) {
        font-size: clamp(16px, 5.25vw, 18px);
    }
}

h6,
.h6 {
    font-size: clamp(16px, 1.094vw, 24px); /* 21px */
    @media (max-width: 991px) {
        font-size: clamp(16px, 2.381vw, 16px);
    }
    @media (max-width: 767px) {
        font-size: clamp(15px, 2.969vw, 16px);
        letter-spacing: 0.2px;
    }
    @media (max-width: 575px) {
        font-size: clamp(14.5px, 4.325vw, 15px);
    }
}

.fs-13 {
    font-size: clamp(9px, 0.677vw, 17px);
    @include media-query(991px) {
        font-size: 11.5px;
    }
    @include media-query(767px) {
        font-size: 10.5px;
    }
    @include media-query(575px) {
        font-size: 9.5px;
    }
}
span {
    display: inline-block;
}

b,
strong {
    font-family: $font-primary;
}
