.account{
    background: url(../media/bg/login-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .content{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #0B1828 75.53%);
        height: 100%;
        display: grid;
        align-content: center;
        .form-block{
            overflow: hidden;
            background: rgba(255, 255, 255, 0.01);
            backdrop-filter: blur(20px);
            .form-inner{
                padding: 24px;
                padding-right: 0;
                @include media-query(575px) {
                    padding: 16px;
                }
                a{
                   width: 100%;
                   background-color: $accent-2;
                   border-radius: 4px;
                   display: flex;
                   justify-content: center;
                   gap: 12px; 
                   padding: 8px;
                }
            }
        }
        
    }
}
