.new-release-block {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    img {
        min-height: 320px;
        object-fit: cover;
        @include media-query(492px) {
            min-height: 280px;
        }
    }
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: end;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.15%, rgba(0, 0, 0, 0.9) 76.03%);
        padding: clamp(10px, 0.83vw, 24px);
        display: flex;
        gap: clamp(8px, 0.83vw, 24px);
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: end;
    }
}
.playlist-banner {
    position: relative;
    img {
        min-height: 420px;
        object-fit: cover;
        object-position: left;
        @include media-query(492px) {
            min-height: 370px;
        }
    }
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.04%, #0b1828 86.97%);
        padding: clamp(16px, 1.25vw, 32px) clamp(10px, 0.83vw, 24px);
        align-content: end;
        .btn-block {
            display: flex;
            gap: clamp(16px, 1.25vw, 32px);
            flex-wrap: wrap;
            align-items: center;
        }
    }
}
.artist-banner {
    position: relative;
    .bg-img {
        min-height: 420px;
        object-fit: cover;
        object-position: center;
        @include media-query(575px) {
            min-height: 400px;
        }
    }
    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.04%, #0b1828 86.97%);
        padding: clamp(16px, 1.25vw, 32px) clamp(10px, 0.83vw, 24px);
        align-content: end;
        display: flex;
        gap: clamp(16px, 1.25vw, 32px);
        align-items: end;
        @include media-query(575px) {
            flex-direction: column;
            align-items: flex-start;
        }
        .artist-img {
            width: clamp(195px, 13.229vw, 350px);
            border-radius: 4px;
            @include media-query(575px) {
                width: 120px;
            }
        }
        .disc {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .bottom-block {
            display: flex;
            gap: clamp(16px, 1.25vw, 32px);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .btn-block {
            display: flex;
            gap: clamp(16px, 1.25vw, 32px);
            flex-wrap: wrap;
            align-items: center;
        }
    }
}
